<div id="progress" class="progress progress-striped active fade" style="visibility: hidden">
  <div class="bar" style="100%;"></div>
</div>
<%= nested_form_for(@cell, :html => {:class => "form-horizontal"} ) do |f| %>
	<div class="form-actions">
		<%= f.button '<i class="icon-play icon-white"></i> Simulate'.html_safe, 
			:class => "btn btn-primary", :autocomplete => 'off', :value => 'simulate', :type => 'button', 
			:data => { 
				:action => 'simulate',
				:toggle => 'button',
				'toggle-text' => '<i class="icon-stop icon-white"></i> Simulating...',
			} ,
			:title => "Simulate the system of Ordinary Differential Equations"
		%>
		
		<%= f.button '<i class="icon-download"></i> Load'.html_safe, 
			:class => "btn", :autocomplete => 'off', :value => 'load', :type => 'button', 
			:data => { 
				:action => 'load', 
				'loading-text' => '<i class="icon-download"></i> Loading...',
				'success-text' => '<i class="icon-download icon-white"></i> Load',
				'error-text' => '<i class="icon-download icon-white"></i> Error while loading!' 
			} ,
			:title => "Load this cell"
		%>
				
		<div class="btn-group">
			<%= f.button '<i class="icon-upload"></i> Save'.html_safe, 
				:class => "btn", :autocomplete => 'off', :value => 'save', :type => 'button', 
				:data => { 
					:action => 'save', 
					'loading-text' => '<i class="icon-upload"></i> Saving...',
					'success-text' => '<i class="icon-upload icon-white"></i> Save',
					'error-text' => '<i class="icon-upload icon-white"></i> Error while saving!' 
				},
				:title => "Save this cell"
			%>
			<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu bottom-up">
				<li><a href="#" data-action="save" aria-hidden="true" title="Save this cell" ><i class="icon-circle-arrow-up"></i> Save</a></li>
				<li><a href="#" data-action="saveAs" aria-hidden="true" title="Save this cell as a copy" ><i class="icon-plus-sign"></i> Save As</a></li>
			</ul>
		</div>
		<%= f.text_field :name, :class => "", :value => '', :placeholder => 'Cell Name' %>
		<%= f.button '<i class="icon-list-alt"></i> Report'.html_safe, 
			:class => "btn btn", :autocomplete => 'off', :value => 'report', :type => 'button', 
			:data => { 
				:action => 'report', 
				'loading-text' => '<i class="icon-list-alt"></i> Generating...',
				'success-text' => '<i class="icon-list-alt icon-white"></i> Report',
				'error-text' => '<i class="icon-list-alt icon-white"></i> Error while generating!' 
			},
			:title => "Generate a report"
		%>
		<div class="pull-right">
		<%= f.button '<i class=" icon-film icon-white"></i>'.html_safe, 
			:class => "btn btn-info", :value => 'present', :type => 'button', 
			:data => { :action => 'present' }, 
			:title => "Start the presentation"
		%>

		<%= f.button '<i class=" icon-question-sign	 icon-white"></i>'.html_safe, 
			:class => "btn btn-info", :value => 'reset', :type => 'button', 
			:data => { :action => 'help' }, 
			:title => "Show the tutorial"
		%>
		
		<%= f.button '<i class="icon-wrench icon-white"></i>'.html_safe, 
			:class => "btn btn-warning", :value => 'reset', :type => 'button', 
			:data => { :action => 'options' },
			:title => "Change the settings for the virtual cell and its simulation"
		%>

		<%= f.button '<i class="icon-remove-circle icon-white"></i> Reset'.html_safe, 
			:class => "btn btn-warning", :value => 'reset', :type => 'button', 
			:data => { :action => 'reset' },
			:title => "Reset the virtual cell. Removes all modules, parameters and settings"
		%>
		</div>
	</div>
<% end %>
