<script>
	$( document ).ready( function() { 
		document.mvc = new <%= @controller %>(); 
	});
</script>
<div id="paper">
</div>

<div id="actions" class="container">
	<%= nested_form_for(@cell, :html => {:class => "form-horizontal"} ) do |f| %>
		<div class="form-actions">
			<%= f.button '<i class="icon-download"></i> Load'.html_safe, :class => "btn", :autocomplete => 'off', :value => 'load', :type => 'button', :data => { :action => 'load', 'loading-text' => 'Loading...' } %>
			<%= f.button '<i class="icon-upload"></i> Save'.html_safe, :class => "btn", :autocomplete => 'off', :value => 'save', :type => 'button', :data => { :action => 'save', 'loading-text' => 'Saving...' } %>
			<%= f.button '<i class="icon-remove-circle icon-white"></i> Reset'.html_safe, :class => "btn btn-warning", :value => 'reset', :type => 'button', :data => { :action => 'reset' } %>
			<%= f.button '<i class="icon-list-alt"></i> Generate report'.html_safe, :class => "btn btn", :autocomplete => 'off', :value => 'report', :type => 'button', :data => { :action => 'report', 'loading-text' => 'Generating...' } %>
		</div>
	<% end %>
</div>

<div id="graphs" class="container">
</div>