<header class="row">
	<h1 class="span12">Listing modules (Instances)</h1>
	<section id="filters" class="span12">
	<% @filters.each { |filter, value| 
		remove = { }
		remove["#{filter}"] = nil
	%>
		<div class="alert alert-info">
			<%= link_to_self raw('&times;'), remove , { class: 'close' } %>
			<i class="icon-filter"></i> <%= filter %>
		</div>
	<% } %>
	</section>
</header>

<table class="table table-hover">
	<thead>
		<tr>
			<th class="span1">Id</th>
			<th class="span1">Show</th>
			<th class="span1">Edit</th>
			<th><i class="icon-random"></i> Based on</th>
			<th><i class="icon-magnet"></i> Part of</th>
			<th class="span1">Destroy</th>
		</tr>
	</thead>

	<tbody>
		<% @module_instances.each do |module_instance| 
		
		module_template = ModuleTemplate.find( module_instance.module_template_id )
		cell = Cell.find( module_instance.cell_id )
		%>
		<tr>
			<td class="span1"><%= module_instance.id %></td>
			<td class="span1">
				<%= link_to raw('<i class="icon-search"></i>'), module_instance, :class => 'btn btn-small', :title => 'Show' %> 
			</td>
			<td class="span1">
				<%= link_to raw('<i class="icon-pencil"></i>'), edit_module_instance_path( module_instance ), :class => 'btn btn-small', :title => 'Edit' %> 
			</td>
			<td><%= link_to module_template.name, module_template  %></td>
			<td><%= link_to cell.name, cell %></td>
			<td class="span1">
				<%= link_to raw('<i class="icon-trash"></i>'), module_instance, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger', :title => 'Destroy' %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<footer class="row">
	<div class="span12">
		<%= will_paginate %>
	</div>
	<div class="form-actions span12">
		<%= link_to raw('<i class=" icon-plus-sign icon-white"></i> New Module (Instance)'), new_module_instance_path, :class => 'btn btn-small btn-primary' %>
	</div>
</footer>