<h1>Listing Modules (Template)</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @module_templates.each do |module_template| %>
		<tr>
			<td><%= module_template.id %></td>
			<td><%= module_template.name %></td>
			<td>Cells</td>
			<td>Instances</td>
			<td>Parameters</td>
			<td><i class="icon-search"></i> <%= link_to 'Show', module_template %></td>
			<td><i class="icon-pencil"></i> <%= link_to 'Edit', edit_module_template_path(module_template) %></td>
			<td><i class="icon-trash"></i> <%= link_to 'Destroy', module_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Module (Template)', new_module_template_path %>
