<div>
	<%= @command %><br />
	returned with exit status <%= @exitcode %>
</div>
<h1>Now at version <%= @version %>!</h1>
<div>
	<p>Remote ip: <%= @ip %></p>
	<p>Branch: <%= @branch %></p>
	<p>Build status: <%= @status %></p>
</div>
