<header class="row">
	<h1 class="span12">Listing cells</h1>
	<section id="filters" class="span12">
	<% @filters.each { |filter, value| %>
		<div class="alert alert-info">
			<%= link_to_self raw('&times;'), { template: nil } , { class: 'close' } %>
			<i class="icon-filter"></i> <%= filter %>
		</div>
	<% } %>
	</section>
</header>

<table class="table table-hover">
	<thead>
		<tr>
			<th class="span1">Id</th>
			<th class="span1">Show</th>
			<th class="span1">Edit</th>
			<th>Name</th>
			<th>Contains</th>
			<th class="span1">Destroy</th>
		</tr>
	</thead>

	<tbody>
		<% @cells.each do |cell| %>
		<tr>
			<td><%= cell.id %></td>
			<td class="span1">
				<%= link_to raw('<i class="icon-search"></i>'), cell, :class => 'btn btn-small', :title => 'Show' %> 
			</td>
			<td class="span1">
				<%= link_to raw('<i class="icon-pencil"></i>'), edit_cell_path(cell), :class => 'btn btn-small', :title => 'Edit' %> 
			</td>
			<td><%= cell.name %></td>
			<td><%= link_to pluralize( ModuleInstance.where( :cell_id => cell.id ).count, 'module'), module_instances_path( :cell => cell.id ) %></td>
			<td class="span1">
				<%= link_to raw('<i class="icon-trash"></i>'), cell, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger', :title => 'Destroy' %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<footer class="row">
	<div class="span12">
		<%= will_paginate %>
	</div>
	<div class="form-actions span12">
		<%= link_to raw('<i class="icon-plus-sign icon-white"></i> New Cell'), new_cell_path, :class => 'btn btn-small btn-primary' %>
	</div>
</footer>

