<h1>Listing cells</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cells.each do |cell| %>
  <tr>
    <td><%= cell.name %></td>
    <td><%= cell.id %></td>
    <td><%= link_to 'Show', cell %></td>
    <td><%= link_to 'Edit', edit_cell_path(cell) %></td>
    <td><%= link_to 'Destroy', cell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cell', new_cell_path %>
