<header class="row">
	<h1 class="span12">Report #<%= @report.id %> on cell #<%= @report.cell_id %> </h1>
</header>
<table class="table row">
	<thead class="span12">
		<tr>
			<th class="span2">Key</th>
			<th class="span10">Value</th>
		</tr>
	</thead>
	<tbody class="span12">
		<tr>
			<td class="span2">Id</td>
			<td class="span10"><%= @report.id %></td>
		</tr>

		<tr>
			<td class="span2">Cell</td>
			<td class="span10">#<%= @report.cell.id %> <%= link_to @report.cell.name, @report.cell %></td>
		</tr>
		<tr>
			<td class="span2"></td>
			<td class="span10">
				<%= render 'cell' %>
			</td>
		</tr>
		<tr>
			<td>Creation</td>
			<td><%= @report.created_at.strftime("%a %d %B %Y at %H:%M") %></td>
		</tr>

		<tr>
			<td> Modules </td>
			<td> 
				<% 
					modules = []
					@module_instances.map { |module_instance| 
						modules.push link_to ModuleTemplate.find( module_instance.
							module_template.id ).name, module_instance, :class => 'btn btn-mini'
					}				
				%>

				<%= (listify modules).html_safe %>
		</tr>
		
		<% 
			@module_instances.each do |module_instance| 
				@module_template = ModuleTemplate.find(module_instance.module_template.id)

				module_parameters = module_instance.module_parameters
				@module_hash = Hash[ ( module_parameters.map { |p| p.key } ).zip( 
					module_parameters.map { |p| 
						( found = ( module_instance.module_values.select{ |v| v.module_parameter == p } ).first ).blank? ? nil : found.value
						}
					)
				]
		%>
		<tr>
			<td><%= @module_template.name %></td>
			<td>
				<!-- Start module table -->
				<table class="table-condensed table-striped table">
					<thead>
						<tr>
							<th class="span6">Name: <%= module_instance.name %></th>
							<th class="span6">Graph</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<!-- Start parameter table -->						
								<table class="table-condensed table-striped table">
									<thead>
										<tr>
											<th class="span3">Key</th>
											<th class="span9">Value</th>
										</tr>
									</thead>
									<tbody>
										<% @module_hash.each { |key, value| %>
											<tr>
												<td class="span3"> <%= key %> </td>
												<td class="span9"><%= value.nil? ? '<span class="label label-important">missing</span>'.html_safe : value  %>
												</td>
											</tr>
										<% } %>
									</tbody>
								</table>
								<!-- End parameter table -->
							</td>
							<td>
								<img src="http://placehold.it/300x175.png&text=graph" alt="graph">
							</td>
						</tr>
					</tbody>
				</table>
				<!-- End module table -->
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<% if @isPDF %>

<% else %>
	<footer class="row">
		<div class="form-actions span12">
			<%= form_for(@report, :html => {:class => "no-form"} ) do |f| %>
				<%= f.hidden_field :data, :value => nil %>
				<%= f.hidden_field :format, :value => :pdf %>
				<%= f.submit :id => 'create-pdf', :class => "btn btn-primary", :disabled => :disabled, :value => 'Create PDF' %>
			<% end %>
			<%= link_to 'Back', reports_path %>
		</div>
	</footer>
<% end -%>
